# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with `go test -c`
*.test

# output of the go coverage tool, specifically when used with LiteIDE
*.out

# go workspace file
go.work
go.work.sum

# env file
.env
env.ps1
.dev.vars

# ide
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

# dependency directories
node_modules/

# wrangler files
.wrangler/
dist/

# output of tsc
cmd/yandex/*.js
